
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$blue-dark: #457b9d;
$lavendar-light: #cdb4db;
$lavendar-light-1: #F2EAF6;

$primary: $blue-dark;
$secondary: $lavendar-light;

// Black and White

$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;


@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

//nav links 

$nav-link-color:$gray-900;