<section id="home" class="intro-section">
    <div class="container">
        <div class="row align-items-center text-white">
            <!--Intro content-->
            <div class="col-md-6 custom-width col-lg-6 intros mt-3">
                <h1 class="display-2 mb-5">
                    <span class="display-2--intro">Vacations made hassle free</span>
                    <span class="display-2--description lh-base">Craft Unforgettable Adventures with Ease</span>
                </h1>
                
                    <button  routerLink="/create" class="rounded-pill btn-rounded">Craft your own
                        <span>
                            <i><svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
                                    viewBox="0 0 320 512">
                                    <path fill="#ffffff"
                                        d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                </svg></i>
                        </span>
                    </button>
                
            </div>
            <!--Illustration content-->
            <div class="col-md-6 custom-width col-lg-6 intros text-end">
                <div class="illustration">
                    <img src="../../assets/images/adventure-flatline.png" alt="illustration" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1"
            d="M0,160L48,138.7C96,117,192,75,288,90.7C384,107,480,181,576,186.7C672,192,768,128,864,117.3C960,107,1056,149,1152,165.3C1248,181,1344,171,1392,165.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>

</section>

<section id="trending" class="trending-section container py-5">
    <div class="section-header mb-3">
        <h2>Trending Itineraries</h2>
        <p>View all</p>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-5">
        <div class="col">
            <div class="card h-100 shadow">

                <img src="../../assets/images/sarengeti.jpg" class="card-img-top h-50 img-fluid fixed-height" alt="...">


                <div class="card-body">
                    <h5 class="card-title">Serengeti</h5>
                    <p class="card-text">Great Migration spectacle Cheetah speed bursts Lion sun salutations
                        Endless savanna adventure</p>
                    <a href="#" class="btn btn-primary text-center">Go somewhere</a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow">

                <img src="../../assets/images/Hampi.jpg" class="card-img-top img-fluid h-50 fixed-height" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Hampi</h5>
                    <p class="card-text">Whispering temple ruins
                        Towering gopuram gateways
                        Sacred bath serenity
                        Intricate stone storytelling</p>
                    
                        <a href="#" class="btn btn-primary text-center">Go somewhere</a>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow">

                <img src="../../assets/images/croatia.jpg" class="card-img-top img-fluid h-50 fixed-height" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Croatia</h5>
                    <p class="card-text">Turquoise island jewels
                        Hidden cove sun havens
                        Roman empire echoes
                        Mediterranean flavor 
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow">

                <img src="../../assets/images/lakshadweep.jfif" class="card-img-top img-fluid h-50 fixed-height" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Lakshadweep</h5>
                    <p class="card-text">Coral kingdom dives
                        Manta ray ballet
                        Pristine beach bliss
                        Sun-kissed turquoise escape</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</section>